@use '../0-helpers/vars' as *;
@use '../1-plugins/responsive' as res;

.quick-action {
	bottom: 0;
	right: 0;
	color: white;
	width: 100%;
	position: fixed;
    padding: 1em 0;
	background-color: $color-black-opacity;

// 	@include interpolate(font-size, 320px, 1366px, 14px, 20px);
    @include res.interpolate(font-size, 320px, 1440px, $fs-nav - 6, $fs-nav);

	&-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__block {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__icon {
		margin-right: $pd-sm;
	}

}
